.fondo-menu{
  background-color: #104455;
}
main{
  padding-left: 50px;
  padding-right: 50px;
  background: #7FFFD6;
}
.caja-padre{
  display: flex;
  flex-wrap: nowrap;
}
.hijos{

}
@media screen and (max-width:800px){
  main{
    padding-left: 0;
    padding-right: 0;
  }
}
