*{
  margin: 0;
  padding: 0;
}
body{
  background: #C9EFF9;
}
.contenedor{
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
}
.producto{
  background-color: #20DECB;
  cursor: pointer;
  height: 150px;
}
.cal{
  width: 15%;
  align-content: center;
  margin: calc(5%/2);
}
@media screen and (max-width:800px){
  .cal{
    width: 20%;
    align-content: center;
    margin: calc(5%/2);
  }
}
@media screen and (max-width:500px){
  .cal{
    width: 45%;
    align-content: center;
    margin: calc(5%/2);
  }
}
